<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="es"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <title>Home</title>
  </head>
  <body class="bg-teal-400 relative text-zinc-900">
    <div th:replace="~{layout/layout :: logout}"></div>
    <nav th:replace="~{layout/layout :: navigation}"></nav>
    <div
      class="w-full h-screen flex justify-start py-6 px-8 flex-col gap-3 text-zinc-100"
    >
      <form th:action="@{/search}" method="get">
        <input
          type="search"
          name="search"
          placeholder="Introduzca el nombre de un producto"
          class="p-2 rounded-lg mt-3 border-2 border-zinc-100 bg-zinc-200/80 outline-zinc-700 text-zinc-500 font-semibold"
        />
        <button
          class="p-2 rounded-lg mt-3 border-2 border-zinc-100 bg-zinc-200/80 outline-zinc-700 text-zinc-500 font-semibold"
          type="submit"
        >
          Buscar
        </button>
      </form>
      <div class="mt-3">
        <label for="productos" class="text-zinc-100 font-semibold" >Productos</label>
        <select
          name="productos"
          id="productos"
         th:each="productos : ${productos}"
        >
          <option>Seleccione una opción</option>
          <option
            th:text="${productos.nombreProducto}"
            th:value="${productos.idProducto}"
          ></option>
        </select>
      </div>

    </div>
  </body>
</html>
